@import 'variables.scss';

:hostapp-nav-header{
  .is-active{
    border-left: 4px solid #e4176a;
    background: #fafafa;
    &.add-new-post{
      background: #37474f !important;
      border-left: 4px solid #e4176a;

    }
  }
  .post-btn {
    width: 100%;
    height: 50px;
    text-align: left;
    &.add-new-post{
      background-color: #e4176a;
    }
    span{
      margin-left: 10px;
    }
  }
  mat-toolbar{
    z-index: 121;
  }
  .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }
  .logout {
    text-align: center;
    justify-content: center;
    float: right;
    position: absolute;
    right: 20px;
    top: 10px;
}
  
}