<div class="login-form" ngclass="'success' formLogin.invalid ">
  <div class="left">
    <div class="content">
      <mat-toolbar color="transparent" style="background: transparent">
        <img height="40" src="./assets/img/social.png" alt="" />
        <small>Social posts</small>
      </mat-toolbar>
      <span class="text-white">
        Otimize a gestão de seus site e conquiste mais segiodores
      </span>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <h2>Faça seu login</h2>
      <form id="form-login" method="post" [formGroup]="formLogin" novalidate>
        <div class="form-element form-stack">
          <label for="username-login" class="form-label">Url do seu site</label>
          <input
            formControlName="mainUrl"
            id="site-url"
            type="text"
            name="url"
            autocomplete="on"
            autofocus
            (blur)="urlSite()"
          />
        </div>
        <div class="form-element form-stack">
          <label for="username-login" class="form-label">Login</label>
          <input
            formControlName="username"
            id="username-login"
            type="text"
            name="name"
            autocomplete="on"
            autofocus
          />
        </div>
        <div class="form-element form-stack">
          <label for="password-login" class="form-label">Senha</label>
          <input
            formControlName="password"
            id="password-login"
            type="password"
            name="password"
          />
        </div>
        <div class="form-element form-submit">
          <button
            mat-flat-button
            [disabled]="formLogin.invalid"
            (click)="login()"
          >
            Entrar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
